.container {
    display: flex;
    justify-content: space-between;

    > mat-form-field {
        flex: 1 0 auto;
        align-self: flex-start;
        margin: 5px;
        max-width: 250px;
    }

    > mat-checkbox  {
        align-self: center;
        margin: 15px;
    }

    > button {
        align-self: center;
        margin: 15px;
        min-width: 150px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
