<mat-toolbar>
    <span>Suicide Kings Master List</span>
    <span class="spacer"></span>
    <mat-form-field style="width: 275px; color: #f1f1f1;">
        <mat-label></mat-label>
        <mat-select [(ngModel)]="selectedListId" (ngModelChange)="onChangeList()">
            <mat-option *ngFor="let option of masterListOptions" [value]="option.id">{{option.label}}</mat-option>
        </mat-select>
        <mat-hint>Select a Suicide Kings list</mat-hint>
    </mat-form-field>
    <button mat-button color="accent" (click)="newList()"><mat-icon style="margin-right: 10px;">list_alt</mat-icon>New List</button>
</mat-toolbar>
<div class="tab-content">

    <ng-template [ngIf]="masterList?.list?.length > 0">

        <div style="margin: 10px;">
            <button mat-button (click)="beginNewRaid()" title="Select characters from the list to start a raid, or choose Start Raid to select a raid dump file."><mat-icon>play_arrow</mat-icon> Start Raid</button>
            <!-- <button mat-button (click)="completeRaid()" *ngIf="raid != null"><mat-icon>event_busy</mat-icon> End Raid</button> -->
            <button mat-button (click)="showAddNewCharacter()"><mat-icon>person</mat-icon> New Character</button>
            <!-- <button mat-button *ngIf="!sortByAlpha" (click)="sortByAlpha = true"><mat-icon>sort_by_alpha</mat-icon> Sort Alphabetically</button>
            <button mat-button *ngIf="sortByAlpha" (click)="sortByAlpha = false"><mat-icon>sort</mat-icon> Sort Positionally</button> -->
            <button mat-button (click)="showCopyToDiscordDialog()">Copy to Discord</button>
            <button mat-button (click)="importList()">Import from Discord</button>
            <button mat-button (click)="openMasterHistory()"><mat-icon>history</mat-icon> History</button>
        </div>

        <div class="flex-grid">
            <div style="width: 300px;">

                <h4 style="margin-top: 0;">{{masterList.name}}</h4>
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Character</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let character of masterList.list; let i = index">
                        <td><mat-checkbox [(ngModel)]="character.selected" name="cbxSelected_{{i}}" [disabled]="character.inRaid"></mat-checkbox></td>
                        <td>{{i+1}}</td>
                        <td class="pointer" (click)="selectCharacter(character)" [ngClass]="{'disabled': character.inRaid}">{{character.name}}</td>
                        <td class="pointer" style="padding-top: 4px;">
                            <a class="a-btn parent-hover-only hover-blue" (click)="confirmPositionSwap(character.name)" [ngClass]="{'disabled': character.inRaid}"><mat-icon fontSet="material-icons-outlined">change_circle</mat-icon></a>
                            <a class="color-red a-btn hover-only" (click)="removeFromMasterList(character.name)" [ngClass]="{'disabled': character.inRaid}"><mat-icon>clear</mat-icon></a>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="width: 430px;">
                
                <h4 style="margin-top: 0;">{{masterList.name}} Suicide History</h4>
                <table>
                    <tr>
                        <th style="width: 45%">Character</th>
                        <th>Timestamp</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let h of masterHistoryPreview">
                        <td>{{h.list[h.suicideIndex].name}}</td>
                        <td class="subtle-date">{{h.timestamp | date:'short'}}</td>
                        <td class="pointer" style="padding-top: 4px;">
                            <a class="a-btn parent-hover-only hover-blue" (click)="showHistoryNote(h)"><mat-icon fontSet="material-icons-outlined">description</mat-icon></a>
                            <a class="a-btn parent-hover-only hover-blue" (click)="confirmSwapName(h)"><mat-icon fontSet="material-icons-outlined">change_circle</mat-icon></a>
                            <a class="a-btn parent-hover-only hover-red" (click)="confirmRollback(h)"><mat-icon>remove_circle_outline</mat-icon></a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </ng-template>

</div>
