<h2 mat-dialog-title>{{(data.title == null ? 'Information required' : data.title)}}</h2>

<mat-dialog-content>

    <p *ngFor="let msg of messages">{{msg}}</p>

    <ng-template [ngIf]="data.showCheckBox">
        <mat-checkbox [(ngModel)]="model.checked">{{data.checkboxLabel}}</mat-checkbox>
    </ng-template>

    <mat-form-field>
        <mat-label *ngIf="data.hint != null && data.label != null">{{data.label}}</mat-label>
        <input matInput [(ngModel)]="model.value" />
        <mat-hint *ngIf="data.hint != null || data.label != null">{{data.hint ? data.hint : data.label}}</mat-hint>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    
    <button mat-button [mat-dialog-close]="null" class="t-confirm-no" color="warn">Cancel</button>
    <button mat-button [mat-dialog-close]="model" class="t-confirm-no">OK</button>

</mat-dialog-actions>
