<h2 mat-dialog-title>Suicide List History</h2>

<mat-dialog-content>

    <div class="filters">

        <mat-form-field style="width: 400px; color: #7b1fa2;">
            <mat-label></mat-label>
            <input matInput [(ngModel)]="searchTerm" />
            <mat-hint>Search for members</mat-hint>
            <button mat-icon-button matSuffix *ngIf="searchTerm" (click)="searchTerm = null"><mat-icon class="color-red">clear</mat-icon></button>
        </mat-form-field>

        <span class="spacer"></span>

        <mat-form-field>
            <mat-label></mat-label>
            <mat-select [(ngModel)]="searchDate">
                <mat-option [value]="null">All Dates</mat-option>
                <mat-option *ngFor="let d of raidDates" [value]="d">{{d | date:'shortDate'}}</mat-option>
            </mat-select>
            <mat-hint>Filter by Date</mat-hint>
        </mat-form-field>

    </div>
    <div class="filters" style="margin: 15px 0;">
        <mat-checkbox [(ngModel)]="showJoinLeaveData" name="showJoinLeaveData">Show Join/Leave Events</mat-checkbox>
        <span class="spacer"></span>
        <mat-checkbox [(ngModel)]="showStartData" name="showStartData" *ngIf="showJoinLeaveData">Include Start Raid Events</mat-checkbox>
    </div>

    <app-infinite-scroller #infiniteScroller [data]="history">
        <table>
            <tr>
                <th style="width: 45%">Character</th>
                <th>Timestamp</th>
                <th></th>
            </tr>
            <tr *ngFor="let h of infiniteScroller.data">
                <td *ngIf="h.historyType === historyTypes.Suicide; then suicide else other"></td>
                <ng-template #suicide><span class="pointer hover-blue" (click)="searchTerm = h.list[h.suicideIndex].name">{{h.list[h.suicideIndex].name}}</span></ng-template>
                <ng-template #other><span class="pointer hover-blue {{getHistoryItemCssClassName(h)}}" (click)="searchTerm = h.characterName">{{h.characterName}}</span></ng-template>
                <td class="subtle-date">{{h.timestamp | date:'short'}}</td>
                <td class="pointer" style="padding-top: 4px;">
                    <button mat-icon-button class="a-btn parent-hover-only hover-blue" (click)="showHistoryNote(h)"><mat-icon fontSet="material-icons-outlined">description</mat-icon></button>
                    <!-- TODO: Allow edit functions for join/leave but not start/end events. -->
                    <button mat-icon-button class="a-btn parent-hover-only hover-blue" (click)="confirmSwapName(h)" [disabled]="h.historyType !== historyTypes.Suicide"><mat-icon fontSet="material-icons-outlined">change_circle</mat-icon></button>
                    <button mat-icon-button class="a-btn parent-hover-only hover-red" (click)="confirmRollback(h)" [disabled]="h.historyType !== historyTypes.Suicide"><mat-icon>remove_circle_outline</mat-icon></button>
                </td>
            </tr>
        </table>
    </app-infinite-scroller>

</mat-dialog-content>

<mat-dialog-actions>
    
    <button mat-button [mat-dialog-close]="null" class="t-confirm-no">Close</button>

</mat-dialog-actions>
